<!DOCTYPE html>
<html lang ="en">
	<head>
		<title>addRecipe</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
	<body  class="body-color" style = "background-image:url('images/Pizza-Flour.jpg');">
		
		<h1 align = "center" style="padding-right:10%"><i>YUMMY RECIPES</i></h1>

		<div class = "container" align = "center" style = "padding-top:10%; display: block;">
			<form class = "form-signin btn-lg" style = " display: block;" action = "{{url_for('added_Recipe', title = session.category)}}" method = "POST">
				{{session.message}}
				<label style ="padding-right:2%;">RECIPE NAME:</label> 
				<input type = "text" class= "btn-lg"  name = "recipeName" style ="padding-right:27%;">
				<br />

				<label style="padding-right:2%;">INGREDIENTS:</label> 
				<input type = "text" class= "btn-lg"  name = "ingredients" style ="padding-right: 25%; padding-left:4%;"placeholder = "Enter your ingredients">
				<br />
				
				<label >INSTRUCTIONS:</label> 
				<textarea class= "btn-lg"  name = "instructions" style ="padding-right: 30%; " placeholder = "Enter your cooking instructions" rows= "1" cols= "15"></textarea>
				<br />

				<div style ="padding-top: 10%;" class = "container">
					<button class="btn-lg btn-primary" >+ ADD</button>
				</div>
			</form>
		</div>
	</body>
</html>