<!DOCTYPE html>
<html lang ="en">
	<head>

		<title>yummy time</title>

		<link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
	<body  class="body-color" style = "background-image:url('images/set-table.jpg');">
		
		<h1 align = "center" style="padding-right:10%"><i>YUMMY RECIPES</i></h1>

		<div class ="container" align = "center" style = "padding-top:10%; display: block;">

			<table class = "table table-bordered table-striped">

				<thead>
					<h2>THAT YUMMY MOMENT</h2>
				</thead>

				<tr>

					<th>
						<b>INGREDIENT</b>
					</th>

					<th>
						<b>INSTRUCTIONS</b>
					</th>

				</tr>


				<tr>

					<td><ol><li>first ingredient</li></ol></td>
					<td><ul><li>the instructions to cook</li></ul></td>

				</tr>
				{% for key in details %}

				<tr>

					<td><ol><li>{{ }}</li></ol></td>
					<td><ul><li>the instructions to cook</li></ul></td>

				</tr>
				{%endfor%}
			</table>
			
		</div>
	</body>
</html> 