<!DOCTYPE html>
<html lang ="en">
	<head>

		<title>Recipe Categories</title>

		<link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
	<body class="body-color"> <!-- style = "background-image:url('images/Pizza-Flour.jpg');"> -->

		<h1 align = "center">YUMMY RECIPES</h1>

		<b align ="left">Welcome {{session.uName}}!</b>

		<div class ="container" align = "center" style = "padding-top:10%; display: block;">
			

			<b class="form-layout">

				<ol type="1">

					{% for category in session.categories %}

					<li id="lst">
						<tr>

							<td><a href="{{url_for('displayRecipes', title = category.title)}}"><b style = "padding-right: 10%;">{{category.title}}</b></a></td>

							<td>
								<button class="btn btn-primary glyphicon glyphicon-pencil" onclick="alert('About to edit')"></button>
								<a href="{{url_for('delCategory',title= category.title,recipeStatus = False)}}"><button id = "del" class="btn btn-primary glyphicon glyphicon-remove" ></button></a>
							</td>

						</tr>

					</li>
					{% endfor %}

					
				</ol>

			</form>

			

			<button class="btn btn-primary" style = "padding-left: 10%; padding-right: 10%;" onclick="location.href='/addCategory';"><b>+ ADD CATEGORY</b></button>
			
		</div>
	</body>
</html> 