<!DOCTYPE html>
<html lang ="en">
	<head>

		<title>My Recipe</title>

		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
	</head>
	<body class="body-color" style = "background-image:url('images/Pizza-Flour.jpg');">

		<h1 align = "center">YUMMY RECIPES</h1>

		<div class ="container" align = "center" style = "padding-top:10%; display: block;">

			<b>

				<ol type="1" >

					{{session.message}}


					{% for key in session.recipeLst %}


					<li id="lst">

						<b style = "padding-right: 10%;">{{ key }}</b>

						<button class="btn btn-primary glyphicon glyphicon-pencil" onclick="alert('About to edit')"></button>
						<a href="{{url_for('delCategory',title= session.category, recipeStatus = True, recipe = key)}}"><button id = "del" class="btn btn-primary glyphicon glyphicon-remove" ></button></a>

					</li>
					{% endfor %}

				</ol>

			</b>

			<a href="{{url_for('add_Recipe', title = session.category)}}"><button class="btn btn-primary" style = "padding-left: 10%; padding-right: 10%;" ><b>+ ADD RECIPE</b></button></a>
			
		</div>
	</body>
</html> 