<!DOCTYPE html>
<html lang ="en">
	<head>

		<title>Recipe Categories</title>

		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
	</head>
	<body class="body-color" style = "background-image:url('images/set-table.jpg');">

		<h1 align = "center">YUMMY RECIPES</h1>

		<b align ="left">Welcome {{ uname }}!</b>

		<div class ="container" align = "center" style = "padding-top:10%; display: block;">
			

			<b class="form-layout">

				<ol type="1">

					<li id="lst">
						<tr>

							<td><b style = "padding-right: 10%;">first category</b></td>

							<td>
								<button class="btn btn-primary glyphicon glyphicon-pencil" onclick="alert('About to edit')"></button>
								<button id = "del" class="btn btn-primary glyphicon glyphicon-remove" ></button>
							</td>

						</tr>

						

					</li>

					{% for category in session.categories %}

					<li id="lst">
						<tr>

							<td><a href="{{url_for('added_Recipe', title = category.title)}}"><b style = "padding-right: 10%;">{{category.title}}</b></a></td>

							<td>
								<button class="btn btn-primary glyphicon glyphicon-pencil" onclick="alert('About to edit')"></button>
								<button id = "del" class="btn btn-primary glyphicon glyphicon-remove" ></button>
							</td>

						</tr>

					</li>
					{% endfor %}

				</ol>

			</b>

			

			<button class="btn btn-primary" style = "padding-left: 10%; padding-right: 10%;" onclick="location.href='/addCategory';"><b>+ ADD CATEGORY</b></button>
			
		</div>
	</body>
</html> 